<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <title>Document</title>
</head>

<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Copy of the bourbon Subreddit</h1>
    <p class="lead">This is to practice coding!</p>
  </div>
</div>


  <div class="container">

    {{{ body }}}



  </div>

</body>

</html>






