
 {{#each article}} 
  <div class="card">
   
    {{!-- {{#each contentName}} --}}
    <div class="card-body">
      <h4 class="card-title">

        <a href={{title}}>Click here to visit</a>
      </h4>
      <p class="card-text">
        {{name}}
      </p>
      <a href={{title}} class="btn btn-primary">Go to Site</a>
    </div>
    {{notes}}
    
     {{!-- {{/each}} --}}
  </div>
   {{/each}} 



